.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1920px;
   height: 64px;
   margin: 0 auto;
   padding: 16px 40px;
   box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
   border-radius: 0px 0px 16px 16px;
   box-sizing: border-box;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1920px;
   margin: 0 auto;
}

.content__info {
   color: red;
   font-size: 130px;
   align-self: center;
}
